:root {
  --bt-primary: #616161;
  --bt-secondary: #e0e0e0;
  --bt-body-bg: #fafafa;
  --bt-body-color: #212121;
  --bt-font-primary: 'Lato', sans-serif;
  --bt-link-color: #dee2e6;
  --bt-block-a: #ced4da;
  --bt-block-b: #adb5bd;
}

