:root {
  --bt-font-primary: 'Roboto Condensed', sans-serif;
  --bt-font-heading: 'Roboto Slab', serif;
  --bt-primary: #616161;
  --bt-secondary: #e0e0e0;
  --bt-body-bg: #BCC3CBFF;
  --bt-body-color: #212121;
  --bt-link-color: #dee2e6;
  --bt-block-a: #ced4da;
  --bt-block-b: #adb5bd;

  @each $name, $value in $grays {
    --bt-gray-#{$name}: #{$value};
  }

}

